* {
  margin: 0;
  transition: all 0.5s;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #252525;
}
h1 {
  font-size: 3em;
  color: #da84ff;
  font-weight: 600;
}
.header {
  border-radius: 15px 15px 0 0;
  background: #2b2c3b;
  border-right: 1px solid #4b4ba3;
  border-left: 1px solid #4b4ba3;
  padding: 5vh 0;
}
.container {
  margin: 0 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  box-shadow: 0 0 100px 1px #7225e8;
}
.headItem {
  display: flex;
  margin-top: 1vh;
}
.headInput {
  font-size: 1.5em;
  width: 40vw;
  padding: 1.2vh 1vw;
  border: 0;
  background: #3b3b3b;
  color: #b5acff;
  font-weight: 500;
}
.headInput:focus {
  outline: none;
  box-shadow: skyblue 0 0 10px 2px;
}
.headInput:hover {
  box-shadow: skyblue 0 0 10px 2px;
}
.headInput::placeholder {
  font-size: 0.8em;
  color: lavender;
  opacity: 50%;
}
@keyframes fade {
  0% {
    background: #4b4ba3;
  }
  50% {
    background: blueviolet;
  }
  100% {
    background: #4b4ba3;
  }
}

.addBtn {
  color: lavender;
  font-size: 1.7em;
  background-color: #4b4ba3;
  width: 8vw;
  padding: 1vh 1vw;
  margin-left: -4px;
  border: 0;
}
.addBtn:hover {
  animation: fade 2s ease-in-out infinite;
  cursor: pointer;
}

.listCont {
  background: #e3f0f9;
  border-right: 1px solid #4b4ba3;
  border-left: 1px solid #4b4ba3;
}

.listItem {
  align-items: center;
  border-right: 1px solid #4b4ba3;
  border-left: 1px solid #4b4ba3;
  display: flex;
  width: 60vw;
  font-weight: 600;
  font-size: 1.7em;
  justify-content: space-between;
  padding-left: 6vw;
  overflow: auto;
}
.even {
  background: #2b2c3bff;

  color: mistyrose;
  border-bottom: #000000 1px solid;
}
.odd {
  background: #252525;
  color: mistyrose;
  border-bottom: #000000 1px solid;
}

.completedItem {
  opacity: 50%;
  color: darkgray;
  background: green;
}

.completedBtn {
  border: 0;
  width: 4vw;
  font-size: 1.5vw;
  height: 5vh;
  color: white;
  background: darkseagreen;
  cursor: pointer;
}

.deleteBtn {
  width: 4vw;
  font-size: 1.5vw;
  height: 5vh;
  border: 0;
  color: white;
  background: #b42222;
  cursor: pointer;
}

.element {
  animation: fade 0.9s ease;
}

.divadd {
  display: flex;
  justify-content: center;
}
